certifi
charset-normalizer
contourpy
cycler
docutils
fonttools
idna
Kivy
kivy
Kivy-Garden
kiwisolver
matplotlib
numpy
pandas
packaging
Pillow
Pygments
pyparsing
python-dateutil
requests
six
urllib3
websockets
matplotlib
